<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
 	<!-- ********************  Staff    ************************* -->
 	<bean id="staffDao" class="com.zxx.dao.impl.StaffDaoImpl">
		<property name="sst" ref="sqlSessionTemplate"></property>
	</bean>
	
	<bean id="staffBiz" class="com.zxx.biz.impl.StaffBizImpl">
		<property name="staffDao" ref="staffDao"></property>
	</bean>
	
	<bean id="staffAction" class="com.zxx.action.StaffAction">
		<property name="staffBiz" ref="staffBiz"></property>
    </bean> 
    
    
    
    
    <!-- ********************  Department    ************************* -->
 	<bean id="departmentDao" class="com.zxx.dao.impl.DepartmentDaoImpl">
		<property name="sst" ref="sqlSessionTemplate"></property>
	</bean>
	
	<bean id="departmentBiz" class="com.zxx.biz.impl.DepartmentBizImpl">
		<property name="departmentDao" ref="departmentDao"></property>
	</bean>
	
	<bean id="departmentAction" class="com.zxx.action.DepartmentAction">
		<property name="departmentBiz" ref="departmentBiz"></property>
    </bean>
    
    
    
    <!-- ********************  Weekly    ************************* -->
 	<bean id="weeklyDao" class="com.zxx.dao.impl.WeeklyDaoImpl">
		<property name="sst" ref="sqlSessionTemplate"></property>
	</bean>
	
	<bean id="weeklyBiz" class="com.zxx.biz.impl.WeeklyBizImpl">
		<property name="weeklyDao" ref="weeklyDao"></property>
	</bean>
	
	<bean id="weeklyAction" class="com.zxx.action.WeeklyAction">
		<property name="weeklyBiz" ref="weeklyBiz"></property>
    </bean>
</beans>
